{% capture listItems %}
{% for item in collections[settings.collection_7_shop_all].products limit: settings.collection_7_shop_all_limit %}
<div id="w-node-fd69542c-2d39-b450-e5e6-5f8c52f9b172-b1411347" role="listitem" class="collection-item-5 w-dyn-item w-col w-col-3">
            <a href="{{ item.url | within: collection }}" class="product-wrapper w-inline-block"><img src="{{ item.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ item.featured_image.alt }}" class="image-17" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w"><img src="{{ item.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ item.featured_image.alt }}" class="image-18" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w"></a>
            <div class="info-wraper">
              <div data-commerce-type="variation-price">{{ item.price | money }}</div>
              <div>{{ item.title }}</div>
            </div>
          </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="w-dyn-list" udy-collection="product">
        {%- unless items_length == 0 -%}<div role="list" class="collection-list-9 w-dyn-items w-row">
          {{ listItems }}
        </div>{%- endunless -%}
        {%- if items_length == 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endif -%}
      </div>